@import "./components/Navbar.scss";

body {
  background-color: whitesmoke;
  margin: 0;
  background-color: darkgray;
}

.font {
  font-family: "PT Sans Narrow", sans-serif;
}

.innerbody {
  padding-left: 10%;
  padding-right: 10%;
}
