@import "./components/Navbar.scss";

body {
  background-color: whitesmoke;
  margin: 0;
  background-color: darkgray;
  transition: all 1s;
}

.font {
  font-family: "Poppins", sans-serif;
}

.innerbody {
  padding-left: 10%;
  padding-right: 10%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
